/* 全局样式表 */
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1366px;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;
}

.el-table {
  margin-top: 25px;
  font-size: 14px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader-menu {
  height: 300px;
}

.el-steps {
  margin: 20px 0;
}

.ql-editor {
  min-height: 300px;
}

.el-dialog{
  margin:0!important;
  display:flex;
  flex-direction:column;
  border-radius: 15px;
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog__body{
  transform: translate3d(0,0,0);
  overflow:auto;
}
.el-dialog__header {
  padding: 20px 20px 20px 20px!important;
  border-bottom: 1px solid #f4f4f4;
}
.el-dialog__footer {
  text-align: center!important;
  padding: 12px 20px 12px 20px!important;
  border-top: 1px solid #f4f4f4;
}
.el-dialog__headerbtn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  font-size: 24px!important;
}
.el-dialog__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}